*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: rgb(199, 191, 172);
}

.navcontainer {
    display: flex;
    justify-content: space-between;
}
.nav {
    background-color: rgb(155, 117, 60);
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

.logo-c {
    width: 150px ;
    height: 90px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
}

.material-icons-outlined {
    display: flex;
    font-size: 3rem;
    margin-left: 6px;
}

.menu-icon {
    text-decoration: none;
    color: white;
 
} 
/* .header{
    width: 100vw;
    height: 15rem;
    display: flex;
    background-color: rgb(146, 132, 95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.tittle {
    display: flex;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: black;
}

.description1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: black; }*/



.box {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


.coffe-menu{
    width: 220px;
    height: 200px;
    border-radius: 70%;
    display: flex;
}


.lunch-menu, .drinks-menu {
    width: 220px;
    height: 200px;
    border-radius: 70%;
    display: flex;
    margin-top: 3rem;
}

.footer-page {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(155, 117, 60);
    height: 100px;
    width: 100vw;
    margin: auto;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.ig img{
    width: 45px;
    height: 45px;
}

.fb img {
    width: 45px;
    height: 45px;
}

.wsp img {
    width: 40px;
    height: 40px;
}

.direction-container {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}










